modules = ["web", "nodejs-20", "php-8.2", "bash"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Portfolio Server"

[[workflows.workflow]]
name = "Portfolio Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38625
externalPort = 3001

[[ports]]
localPort = 43525
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
