.mts,
.mvs,
.mas {
  margin-top: 8px;
}

.mrs,
.mhs,
.mas {
  margin-right: 8px;
}

.mbs,
.mvs,
.mas,
.title,
.landing-page-post h2,
.landing-page-post h3,
.terms p {
  margin-bottom: 8px;
}

.mls,
.mhs,
.mas {
  margin-left: 8px;
}

.pts,
.pvs,
.pas,
.textarea {
  padding-top: 8px;
}

.prs,
.phs,
.pas,
.pill-button,
.rounded-button,
.white-pill-button {
  padding-right: 8px;
}

.pbs,
.pvs,
.pas,
.textarea {
  padding-bottom: 8px;
}

.pls,
.phs,
.pas,
.pill-button,
.rounded-button,
.white-pill-button,
.input {
  padding-left: 8px;
}

.mtm,
.mvm,
.mam,
.landing-page-post h3,
.landing-page-post iframe,
.terms h4 {
  margin-top: 16px;
}

.mrm,
.mhm,
.mam {
  margin-right: 16px;
}

.mbm,
.mvm,
.mam,
.landing-page-post h1,
.landing-page-post p,
.landing-page-post iframe,
.terms h2,
.terms h4 {
  margin-bottom: 16px;
}

.mlm,
.mhm,
.mam {
  margin-left: 16px;
}

.ptm,
.pvm,
.pam {
  padding-top: 16px;
}

.prm,
.phm,
.pam,
.form-element,
.input,
.textarea,
.placeholder,
.button {
  padding-right: 16px;
}

.pbm,
.pvm,
.pam {
  padding-bottom: 16px;
}

.plm,
.phm,
.pam,
.form-element,
.input,
.textarea,
.placeholder,
.button {
  padding-left: 16px;
}

.mtl,
.mvl,
.mal,
.landing-page-post h1,
.landing-page-post h2,
.landing-page-post hr,
.terms blockquote {
  margin-top: 32px;
}

.mrl,
.mhl,
.mal {
  margin-right: 32px;
}

.mbl,
.mvl,
.mal,
.jobs-position h4,
.landing-page-post h1,
.landing-page-post hr,
.terms blockquote {
  margin-bottom: 32px;
}

.mll,
.mhl,
.mal {
  margin-left: 32px;
}

.ptl,
.pvl,
.pal {
  padding-top: 32px;
}

.prl,
.phl,
.pal,
.clean-title {
  padding-right: 32px;
}

.pbl,
.pvl,
.pal {
  padding-bottom: 32px;
}

.pll,
.phl,
.pal,
.clean-title {
  padding-left: 32px;
}

.mth,
.mvh,
.mah,
.terms h1,
.terms h2 {
  margin-top: 64px;
}

.mrh,
.mhh,
.mah {
  margin-right: 64px;
}

.mbh,
.mvh,
.mah {
  margin-bottom: 64px;
}

.mlh,
.mhh,
.mah {
  margin-left: 64px;
}

.pth,
.pvh,
.pah {
  padding-top: 64px;
}

.prh,
.phh,
.pah {
  padding-right: 64px;
}

.pbh,
.pvh,
.pah {
  padding-bottom: 64px;
}

.plh,
.phh,
.pah {
  padding-left: 64px;
}

.mtz,
.mvz,
.maz {
  margin-top: 0px;
}

.mrz,
.mhz,
.maz {
  margin-right: 0px;
}

.mbz,
.mvz,
.maz {
  margin-bottom: 0px;
}

.mlz,
.mhz,
.maz {
  margin-left: 0px;
}

.ptz,
.pvz,
.paz {
  padding-top: 0px;
}

.prz,
.phz,
.paz {
  padding-right: 0px;
}

.pbz,
.pvz,
.paz {
  padding-bottom: 0px;
}

.plz,
.phz,
.paz {
  padding-left: 0px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

input,
button,
textarea {
  border: none;
  border-radius: 0;
  font: inherit;
  padding: 0;
  -webkit-appearance: none;
}

textarea {
  display: block;
}

a {
  text-decoration: none;
}

body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  text-decoration: none;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.z1 {
  position: relative;
  z-index: 1;
}

.z100 {
  position: relative;
  z-index: 100;
}

.z50 {
  position: relative;
  z-index: 50;
}

.center,
.landing-page-post h1 {
  text-align: center;
}

.left,
.input {
  text-align: left;
}

.right {
  text-align: right;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.ib,
.terms {
  display: inline-block;
}

.block,
.input {
  display: block;
}

.mid {
  vertical-align: middle;
}

.top {
  vertical-align: top;
}

.bb,
.pill-button,
.rounded-button,
.white-pill-button,
.input,
.textarea,
.login-width {
  box-sizing: border-box;
}

.rel {
  position: relative;
}

.abs,
.offscreen,
.placeholder {
  position: absolute;
}

.fixed {
  position: fixed;
}

.layer,
.dim-hover,
.hover-fade {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.crop {
  overflow: hidden;
}

.scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.zero {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.full-width,
.fill {
  width: 100%;
}

.full-height,
.fill {
  height: 100%;
}

.offscreen {
  top: -10000px;
}

.valign-parent {
  display: table;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}

.float {
  float: left;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.full-width,
.fill {
  width: 100%;
}

.full-height,
.fill {
  height: 100%;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex50 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.ib480,
.ib680,
.flex680 {
  display: inline-block;
}

@media screen and (max-width:680px) {
  .ib680 {
    display: block;
  }

  .flex680 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width:480px) {
  .ib480 {
    display: block;
  }
}

.blue,
a {
  color: #00c4ff;
}

.blue-bg,
.button {
  background: #00c4ff;
}

.blue-border {
  border: 1px solid #00c4ff;
}

.white,
.black-trans-bg,
.white-pill-button:hover,
.title,
.subtitle {
  color: #fff;
}

.white-bg {
  background: #fff;
}

.white-border {
  border: 1px solid #fff;
}

.black {
  color: #000;
}

.black-bg,
.black-trans-bg {
  background: #000;
}

.black-border {
  border: 1px solid #000;
}

.dark-gray,
body,
.header.text,
.body.text,
.pull_quote.text,
.landing-page-post h1 {
  color: #333;
}

.dark-gray-bg {
  background: #333;
}

.dark-gray-border {
  border: 1px solid #333;
}

.medium-gray,
a.gray-hover:hover,
.placeholder,
.clean-title,
.terms h4 {
  color: #858585;
}

.medium-gray-bg {
  background: #858585;
}

.medium-gray-border,
.input:focus {
  border: 1px solid #858585;
}

.medlight-gray,
.landing-page-post h3 {
  color: #acacac;
}

.medlight-gray-bg {
  background: #acacac;
}

.medlight-gray-border,
.input {
  border: 1px solid #acacac;
}

.light-gray,
.placeholder.focused {
  color: #ccc;
}

.light-gray-bg {
  background: #ccc;
}

.light-gray-border,
.pill-button.loading.loading,
.pill-button.loading.loading:hover,
.landing-page-post hr,
.m-toolbar {
  border: 1px solid #ccc;
}

.wash-gray {
  color: #f4f4f4;
}

.wash-gray-bg,
.pill-button.loading.loading,
.pill-button.loading.loading:hover {
  background: #f4f4f4;
}

.wash-gray-border {
  border: 1px solid #f4f4f4;
}

.fb-blue {
  color: #3b5998;
}

.fb-blue-bg {
  background: #3b5998;
}

.fb-blue-border {
  border: 1px solid #3b5998;
}

.twitter-blue {
  color: #55acee;
}

.twitter-blue-bg {
  background: #55acee;
}

.twitter-blue-border {
  border: 1px solid #55acee;
}

.danger {
  color: #fc4a4c;
}

.danger-bg {
  background: #fc4a4c;
}

.danger-border {
  border: 1px solid #fc4a4c;
}

.success {
  color: #00B454;
}

.success-bg {
  background: #00B454;
}

.success-border {
  border: 1px solid #00B454;
}

.blue-gray {
  color: #2a2f33;
}

.blue-gray-bg {
  background: #2a2f33;
}

.blue-gray-border {
  border: 1px solid #2a2f33;
}

.trans-bg {
  background: transparent;
}

.black-trans-bg {
  background: rgba(0,0,0,0.8);
}

.white-trans-bg {
  background: rgba(255,255,255,0.3);
}

.dark-gray-border-dim {
  border-color: rgba(51,51,51,0.2);
}

.medlight-gray-border-dim {
  border-color: rgba(204,204,204,0.4);
}

.white-border-dim {
  border-color: rgba(255,255,255,0.2);
}

html {
  font: 16px/1.6 sans-serif;
}

.text-inherit {
  font: inherit;
}

.text-xxs {
  font-size: 12px;
}

.text-xs,
.pill-button,
.rounded-button,
.white-pill-button {
  font-size: 14px;
}

.text-s,
.body.text,
.landing-page-post h3 {
  font-size: 16px;
}

.text-m,
.landing-page-post h2,
.terms h2 {
  font-size: 22px;
}

.text-l {
  font-size: 32px;
  line-height: 1.4;
}

.text-xl,
.subtitle,
.header.text,
.pull_quote.text,
.terms h1 {
  font-size: 36px;
  line-height: 1.4;
}

.text-xxl,
.landing-page-post h1 {
  font-size: 48px;
  line-height: 1.2;
}

@media screen and (max-width:640px) {
  .text-s {
    font-size: 14px;
  }

  .text-l {
    font-size: 22px;
  }

  .text-xxl {
    font-size: 36px;
  }
}

@media screen and (max-width:480px) {
  .text-xxl {
    font-size: 30px;
  }
}

.italic {
  font-style: italic;
}

.mid-light {
  font-family: sans-serif;
}

.light,
.clean-title,
.pull_quote.text,
.landing-page-post h1 {
  font-family: sans-serif;
}

.sans,
.landing-page-post h2,
.landing-page-post h3,
.terms h1,
.terms h2,
.terms h4,
.terms blockquote {
  font-family: sans-serif;
}

.sans.b {
  font-family: sans-serif;
  font-weight: normal;
}

.b,
strong,
.bold,
.button,
.title,
.header.text,
.jobs-position h4,
.landing-page-post h2,
.landing-page-post h3,
.terms h1,
.terms h2 {
  font-family: sans-serif;
  font-weight: normal;
}

.serif {
  font-family: serif;
}

.serif strong,
.serif .bold,
.serif.b,
.terms strong {
  font-family: Copernicus-Bold, serif;
  font-weight: normal;
}

.serif em,
.serif .italic,
.serif.i {
  font-family: serif;
  font-style: normal;
}

.serif strong em,
.serif em strong,
.serif .bold.italic {
  font-family: Copernicus-BoldItalic, serif;
}

.strikethrough {
  text-decoration: line-through;
}

.upper {
  text-transform: uppercase;
  letter-spacing: .5px;
}

.aa,
.input,
.textarea,
.placeholder,
.button,
.clean-title,
.landing-page-post h1,
.landing-page-post h2,
.landing-page-post h3,
.terms {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.legible,
.title {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
}

.sc {
  letter-spacing: 5px;
}

.ul {
  padding-bottom: 2px;
  border-bottom: 1px solid #555;
}

.nobr {
  white-space: nowrap;
}

.pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-text {
  text-indent: -10000px;
}

.pill-button,
.rounded-button,
.white-pill-button {
  border-radius: 20px;
  line-height: 36px;
  min-width: 34px;
  outline: none;
}

.rounded-button {
  border-radius: 5px;
}

.dim-hover:hover,
.dim-hover:focus {
  opacity: 0.8;
}

.hover-fade {
  opacity: 0.3;
}

.hover-fade:hover,
.hover-fade:focus {
  opacity: 0.8;
}

.white-pill-button {
  line-height: 2.4;
  border-radius: 100px;
}

.white-pill-button:hover {
  background: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

.border-top,
.landing-page-post hr {
  border-width: 1px 0 0 0;
}

.border-right {
  border-width: 0 1px 0 0;
}

.border-bottom,
.m-toolbar {
  border-width: 0 0 1px 0;
}

.border-left {
  border-width: 0 0 0 1px;
}

.border-top-bottom {
  border-width: 1px 0;
}

.border-left-right {
  border-width: 0 1px;
}

.rounded-coners {
  border-radius: 5px;
}

.drop-shadow {
  box-shadow: 0 0 5px #ddd;
}

html {
  font: 16px/1.6 sans-serif;
}

.text-inherit {
  font: inherit;
}

.text-xxs {
  font-size: 12px;
}

.text-xs,
.pill-button,
.rounded-button,
.white-pill-button {
  font-size: 14px;
}

.text-s,
.body.text,
.landing-page-post h3 {
  font-size: 16px;
}

.text-m,
.landing-page-post h2,
.terms h2 {
  font-size: 22px;
}

.text-l {
  font-size: 32px;
  line-height: 1.4;
}

.text-xl,
.subtitle,
.header.text,
.pull_quote.text,
.terms h1 {
  font-size: 36px;
  line-height: 1.4;
}

.text-xxl,
.landing-page-post h1 {
  font-size: 48px;
  line-height: 1.2;
}

@media screen and (max-width:640px) {
  .text-s {
    font-size: 14px;
  }

  .text-l {
    font-size: 22px;
  }

  .text-xxl {
    font-size: 36px;
  }
}

@media screen and (max-width:480px) {
  .text-xxl {
    font-size: 30px;
  }
}

.italic {
  font-style: italic;
}

.mid-light {
  font-family: sans-serif;
}

.light,
.clean-title,
.pull_quote.text,
.landing-page-post h1 {
  font-family: sans-serif;
}

.sans,
.landing-page-post h2,
.landing-page-post h3,
.terms h1,
.terms h2,
.terms h4,
.terms blockquote {
  font-family: sans-serif;
}

.sans.b {
  font-family: sans-serif;
  font-weight: normal;
}

.b,
strong,
.bold,
.button,
.title,
.header.text,
.jobs-position h4,
.landing-page-post h2,
.landing-page-post h3,
.terms h1,
.terms h2 {
  font-family: sans-serif;
  font-weight: normal;
}

.serif {
  font-family: serif;
}

.serif strong,
.serif .bold,
.serif.b,
.terms strong {
  font-family: Copernicus-Bold, serif;
  font-weight: normal;
}

.serif em,
.serif .italic,
.serif.i {
  font-family: serif;
  font-style: normal;
}

.serif strong em,
.serif em strong,
.serif .bold.italic {
  font-family: Copernicus-BoldItalic, serif;
}

.strikethrough {
  text-decoration: line-through;
}

.upper {
  text-transform: uppercase;
  letter-spacing: .5px;
}

.aa,
.input,
.textarea,
.placeholder,
.button,
.clean-title,
.landing-page-post h1,
.landing-page-post h2,
.landing-page-post h3,
.terms {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.legible,
.title {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
}

.sc {
  letter-spacing: 5px;
}

.ul {
  padding-bottom: 2px;
  border-bottom: 1px solid #555;
}

.nobr {
  white-space: nowrap;
}

.pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-text {
  text-indent: -10000px;
}

.pointer,
.button {
  cursor: pointer;
}

.move-pointer {
  cursor: move;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.click-through,
.placeholder {
  pointer-events: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-element,
.input,
.placeholder,
.button {
  height: 44px;
}

.text-input::-webkit-input-placeholder,
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #858585;
}

.text-input::-moz-placeholder,
.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #858585;
}

.text-input:-ms-input-placeholder,
.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #858585;
}

.text-input::placeholder,
.input::placeholder,
.textarea::placeholder {
  color: #858585;
}

.text-input:focus::-webkit-input-placeholder,
.input:focus::-webkit-input-placeholder,
.textarea:focus::-webkit-input-placeholder {
  color: #ccc;
}

.text-input:focus::-moz-placeholder,
.input:focus::-moz-placeholder,
.textarea:focus::-moz-placeholder {
  color: #ccc;
}

.text-input:focus:-ms-input-placeholder,
.input:focus:-ms-input-placeholder,
.textarea:focus:-ms-input-placeholder {
  color: #ccc;
}

.text-input:focus::placeholder,
.input:focus::placeholder,
.textarea:focus::placeholder {
  color: #ccc;
}

.text-input:focus,
.input:focus,
.textarea:focus {
  border-color: #858585;
  outline: none;
}

.hazy-input {
  color: #fff;
  background-color: rgba(200, 200, 200, 0.3);
}

.hazy-input:focus::-webkit-input-placeholder {
  color: #646464;
}

.hazy-input:focus::-moz-placeholder {
  color: #646464;
}

.hazy-input:focus:-ms-input-placeholder {
  color: #646464;
}

.hazy-input:focus::placeholder {
  color: #646464;
}

.hazy-input:focus {
  background-color: rgba(220, 220, 220, 0.2);
}

.placeholder {
  display: none;
  line-height: 44px;
  margin-left: 1px;
}

.placeholder.on {
  display: block;
}

.pointer,
.button {
  cursor: pointer;
}

.move-pointer {
  cursor: move;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.click-through,
.placeholder {
  pointer-events: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.common-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

.common-play.loading {
  display: none;
}

.progress-indicator,
.loading-indicator {
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}

.loading-indicator {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.common-audio-off {
  top: 20px;
  opacity: 0.8;
}

.common-audio-off:hover {
  opacity: 1;
}

.common-audio-off.right {
  right: 20px;
}

.common-audio-off.left {
  left: 20px;
}

.common-audio-on {
  top: 20px;
  opacity: 0;
}

.common-audio-on:hover {
  opacity: 1;
}

.common-audio-on.right {
  right: 20px;
}

.common-audio-on.left {
  left: 20px;
}

.bg-cover,
.home-iphone,
.home-iphone-m,
.iphone-mobile-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-center,
.iphone-mobile-bg {
  background-position: center;
}

.off {
  display: none;
}

.hidden {
  visibility: hidden;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.clean-logo {
  max-width: 80%;
}

.clean-form-field {
  width: 280px;
}

.clean-title {
  font-size: 48px;
  line-height: 1.2;
}

.clean-small-title {
  font-size: 42px;
}

@media screen and (max-width:480px) {
  .clean-title,
  .clean-small-title {
    line-height: 1;
    font-size: 32px;
  }
}

.title {
  font-size: 60px;
  line-height: 1.1;
}

.body.text {
  line-height: 1.8;
}

.pull_quote.text {
  line-height: 1.4;
}

.box-shadow-top {
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
}

.m-roadblock {
  background-image: url('/m-roadblock@2x.jpg');
  background-size: 173px 353px;
  width: 173px;
  height: 353px;
}

.press-iphone-in-hand-home {
  background-image: url('press/iphone-in-hand-home@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-iphone-in-hand-story {
  background-image: url('press/iphone-in-hand-story@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-iphone-in-hand-creation {
  background-image: url('press/iphone-in-hand-creation@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-iphone-home {
  background-image: url('press/iphone-home@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-iphone-story {
  background-image: url('press/iphone-story@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-iphone-creation {
  background-image: url('press/iphone-creation@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-ipad-home {
  background-image: url('press/ipad-home@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-ipad-story {
  background-image: url('press/ipad-story@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-ipad-creation {
  background-image: url('press/ipad-creation@2x.jpg');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.press-video-overlay {
  background-image: url('press/video-overlay@2x.png');
  background-size: 222px 148px;
  width: 222px;
  height: 148px;
}

.home-iphone {
  background-image: url(/iphone/home-carousel@2x.jpg);
  background-position: 55% top;
}

.home-iphone-m {
  background-image: url(/iphone/home-carousel.jpg);
  background-position: 55% top;
}

.iphone-creation {
  background-image: url('/iphone/creation@2x.jpg');
  background-size: 907px 577px;
  width: 907px;
  height: 577px;
}

.m-iphone-creation {
  background-image: url('/iphone/m-creation@2x.jpg');
  background-size: 721px 458px;
  width: 721px;
  height: 458px;
}

.iphone-mobile-bg {
  background-image: url(/iphone/mobile-bg.jpg);
}

.iphone-play-button {
  opacity: 0.8;
}

.iphone-play-button:hover {
  opacity: 1;
}

.iphone-mac {
  background-image: url('iphone/mac@2x.png');
  background-size: 800px 490px;
  width: 800px;
  height: 490px;
}

.iphone-iphone {
  background-image: url('iphone/iphone@2x.png');
  background-size: 190px 342px;
  width: 190px;
  height: 342px;
}

.iphone-mac-parent {
  left: -160px;
  top: 0;
}

.iphone-mac-story-box {
  width: 708px;
  height: 424px;
  top: 66px;
  left: 46px;
}

.iphone-mac-story {
  width: 708px;
  height: 4014px;
  background-image: url(iphone/mac-story.jpg);
}

.iphone-iphone-story-box {
  width: 160px;
  height: 265px;
  top: 79px;
  left: 16px;
}

.iphone-iphone-parent {
  bottom: 0;
  right: 0;
}

.iphone-iphone-story {
  background-image: url('iphone/iphone-story@2x.jpg');
  background-size: 160px 1544px;
  width: 160px;
  height: 1544px;
}

.iphone-iphone6-gold {
  background-image: url(iphone/iphone6Gold.png);
  width: 413px;
  height: 844px;
}

.iphone-iphone6-story-box {
  width: 360px;
  height: 640px;
  top: 102px;
  left: 26px;
}

.iphone-iphone6-story-joshua-tree {
  background-image: url('iphone/iphone6-story-joshua-tree@2x.jpg');
  background-size: 360px 2570px;
  width: 360px;
  height: 2570px;
}

.iphone-iphone6-camera-roll-bernalheights {
  background-image: url('iphone/iphone6-camera-roll-bernalheights@2x.jpg');
  background-size: 360px 640px;
  width: 360px;
  height: 640px;
}

.iphone-iphone6-home-screen {
  background-image: url(iphone/home-screen.jpg);
  background-size: 360px 640px;
  width: 360px;
  height: 640px;
}

.android-nexus5 {
  background-image: url(android/android-nexus5.png);
  width: 413px;
  height: 814px;
}

.error-logo-mask {
  background-image: url('errors/logo-mask@2x.png');
  background-size: 173px 297px;
  width: 173px;
  height: 297px;
}

.error-notfound-photo {
  background-image: url('errors/notfound-photo@2x.jpg');
  background-size: 173px 297px;
  width: 173px;
  height: 297px;
}

.error-error-photo {
  background-image: url('errors/error-photo@2x.jpg');
  background-size: 173px 297px;
  width: 173px;
  height: 297px;
}

.terms {
  line-height: 1.8;
}

.terms h2 {
  line-height: 1.4;
}

.terms p strong {
  font-size: 110%;
}

.terms blockquote {
  margin-left: 0;
}

.member {
  positon: relative;
  display: inline-block;
  margin: 0 auto;
  height: 250px;
  vertical-align: top;
}

.member h4 {
  line-height: 1.4;
}

.member-pic {
  width: 100%;
}

.member-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.tt {
  outline: none;
  border-radius: 2px;
  box-shadow: 0px 1px 6px 3px rgba(0,0,0,.15);
}

.member-pic .tt {
  width: 170px;
  display: none;
  position: absolute;
  opacity: 0;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  margin-top: -10px;
  border-radius: 5px;
  color: #000;
}

.member-pic:hover .tt {
  z-index: 10;
  display: block;
  position: absolute;
  opacity: 1;
  background-color: rgba(255,255,255,.98);
}

.member-pic:hover .tt:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  content: '';
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
}

.tt ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tt li {
  margin: 0;
  padding: 2px 0;
}

.common-bug {
  right: 20px;
  top: 20px;
  z-index: 3;
}

.gradient-bg {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAGACAQAAAA6kusBAAAAXklEQVR4Ae3YPQrAMAxD4RZ6//t2y5yfzYPA+TqaIj3ZSQj5nuU7FN79j3ohZ1sHa5pWuAa7ATpSYMC6cNBIDso6NQbxxdf1ugtRokTzog4DXecStHUf87pxLek/FwZpBAdgz4QkLwAAAABJRU5ErkJggg==") repeat-x left bottom;
}

.m-flyout {
  top: 0;
  left: 0;
  width: 320px;
  border: none;
}

.login-width {
  width: 250px;
}

.m-toolbar {
  background: rgba(255,255,255,0.95);
}

.common-appstore,
.common-playstore {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.common-appstore:hover,
.common-playstore:hover {
  opacity: 0.8;
}

.common-spaceInaccessible {
  opacity: 1;
  background-repeat: no-repeat;
}

.ellipse {
  border-radius: 50%;
}

.default-avatar-white {
  border: 1px solid rgba(200,200,200,.2);
  background-color: rgba(200,200,200,.2);
}

.common-appstore-large,
.common-appstore,
.common-audio-off,
.common-audio-on,
.common-bug,
.common-carousel-next,
.common-carousel-prev,
.common-email,
.common-expand,
.common-facebook,
.common-instagram,
.common-logo-dark,
.common-logo-small,
.common-logo-white,
.common-m-back,
.common-photo-remote-icon,
.common-photo-remote-logo,
.common-photo-remote-textonly,
.common-play,
.common-playstore,
.common-point,
.common-spaceInaccessible,
.common-twitter,
.common-playstore {
  background-image: url(common.png);
}

.common-appstore-large {
  background-position: -66px -73px;
  width: 196px;
  height: 64px;
}

.common-appstore,
.common-playstore {
  background-position: -155px -201px;
  width: 135px;
  height: 40px;
}

.common-audio-off {
  background-position: -212px -285px;
  width: 28px;
  height: 22px;
}

.common-audio-on {
  background-position: -241px -285px;
  width: 29px;
  height: 22px;
}

.common-bug {
  background-position: -263px -73px;
  width: 38px;
  height: 44px;
}

.common-carousel-next {
  background-position: -291px -139px;
  width: 22px;
  height: 22px;
}

.common-carousel-prev {
  background-position: -291px -201px;
  width: 22px;
  height: 22px;
}

.common-email {
  background-position: -33px -285px;
  width: 32px;
  height: 32px;
}

.common-expand {
  background-position: -302px -99px;
  width: 14px;
  height: 8px;
}

.common-facebook {
  background-position: -66px -285px;
  width: 32px;
  height: 32px;
}

.common-instagram {
  background-position: 0px -285px;
  width: 32px;
  height: 32px;
}

.common-logo-dark {
  background-position: 0px -201px;
  width: 154px;
  height: 42px;
}

.common-logo-small {
  background-position: -99px -285px;
  width: 112px;
  height: 31px;
}

.common-logo-white {
  background-position: -61px -139px;
  width: 163px;
  height: 45px;
}

.common-m-back {
  background-position: -302px -73px;
  width: 10px;
  height: 16px;
}

.common-photo-remote-icon {
  background-position: 0px -73px;
  width: 65px;
  height: 65px;
}

.common-photo-remote-logo {
  background-position: 0px 0px;
  width: 318px;
  height: 72px;
}

.common-photo-remote-textonly {
  background-position: 0px -244px;
  width: 180px;
  height: 40px;
}

.common-play {
  background-position: 0px -139px;
  width: 60px;
  height: 61px;
}

.common-playstore {
  background-position: -181px -244px;
  width: 116px;
  height: 40px;
}

.common-point {
  background-position: -302px -90px;
  width: 14px;
  height: 8px;
}

.common-spaceInaccessible {
  background-position: -225px -139px;
  width: 32px;
  height: 42px;
}

.common-twitter {
  background-position: -258px -139px;
  width: 32px;
  height: 32px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .common-appstore-large,
  .common-appstore,
  .common-audio-off,
  .common-audio-on,
  .common-bug,
  .common-carousel-next,
  .common-carousel-prev,
  .common-email,
  .common-expand,
  .common-facebook,
  .common-instagram,
  .common-logo-dark,
  .common-logo-small,
  .common-logo-white,
  .common-m-back,
  .common-photo-remote-icon,
  .common-photo-remote-logo,
  .common-photo-remote-textonly,
  .common-play,
  .common-playstore,
  .common-point,
  .common-spaceInaccessible,
  .common-twitter {
    background-image: url(common@2x.png);
    background-size: 318px 317px;
  }

  .common-appstore-large {
    background-position: -66px -73px;
    width: 196px;
    height: 64px;
  }

  .common-appstore {
    background-position: -155px -201px;
    width: 135px;
    height: 40px;
  }

  .common-audio-off {
    background-position: -212px -285px;
    width: 28px;
    height: 22px;
  }

  .common-audio-on {
    background-position: -241px -285px;
    width: 29px;
    height: 22px;
  }

  .common-bug {
    background-position: -263px -73px;
    width: 38px;
    height: 44px;
  }

  .common-carousel-next {
    background-position: -291px -139px;
    width: 22px;
    height: 22px;
  }

  .common-carousel-prev {
    background-position: -291px -201px;
    width: 22px;
    height: 22px;
  }

  .common-email {
    background-position: -33px -285px;
    width: 32px;
    height: 32px;
  }

  .common-expand {
    background-position: -302px -99px;
    width: 14px;
    height: 8px;
  }

  .common-facebook {
    background-position: -66px -285px;
    width: 32px;
    height: 32px;
  }

  .common-instagram {
    background-position: 0px -285px;
    width: 32px;
    height: 32px;
  }

  .common-logo-dark {
    background-position: 0px -201px;
    width: 154px;
    height: 42px;
  }

  .common-logo-small {
    background-position: -99px -285px;
    width: 112px;
    height: 31px;
  }

  .common-logo-white {
    background-position: -61px -139px;
    width: 163px;
    height: 45px;
  }

  .common-m-back {
    background-position: -302px -73px;
    width: 10px;
    height: 16px;
  }

  .common-photo-remote-icon {
    background-position: 0px -73px;
    width: 65px;
    height: 65px;
  }

  .common-photo-remote-logo {
    background-position: 0px 0px;
    width: 318px;
    height: 72px;
  }

  .common-photo-remote-textonly {
    background-position: 0px -244px;
    width: 180px;
    height: 40px;
  }

  .common-play {
    background-position: 0px -139px;
    width: 60px;
    height: 61px;
  }

  .common-playstore {
    background-position: -181px -244px;
    width: 116px;
    height: 40px;
  }

  .common-point {
    background-position: -302px -90px;
    width: 14px;
    height: 8px;
  }

  .common-spaceInaccessible {
    background-position: -225px -139px;
    width: 32px;
    height: 42px;
  }

  .common-twitter {
    background-position: -258px -139px;
    width: 32px;
    height: 32px;
  }
}

.b, .title, .header.text { font-weight: 700 }
.subtitle, .pull_quote.text { font-weight: 300 }
