.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0070FF;
    line-height: 2;
    text-align: center;
    color: #042E64;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}

.dataTables_wrapper {
    width: 100%;
    margin-top: 30px;
}

.th-id, .td-id {
    width: 10px;
    max-width: 10px;
    min-width: 10px;
}

.th-expand, .td-expand {
    width: 10px;
    max-width: 10px;
    min-width: 10px;
}

.th-delete, .td-delete {
    width: 10px;
    min-width: 10px;
    max-width: 10px;
}

.th-filename, .td-filename {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.th-tags, .td-tags {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

.th-title, .td-title {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}
